mat-card {
  margin: 20px;
  padding: 20px;
}

form {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
}

.result-card {
  margin-top: 20px;
}

.green {
  color: green;
}

.amber {
  color: orange;
}

.red {
  color: red;
}

.grey {
  color: grey;
}